.main-switch-bar {
  width: 100%;
}

.serial-button {
  display: inline-block;
}

.virtual-tabs-main {
  margin-bottom: 2%;
}

input#channel_a_delay_value {
  font-size: 5em;
}

input#channel_a_delay_value::-webkit-outer-spin-button, input#channel_a_delay_value::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#control-interface table {
  border-spacing: 10px;
}